.funcionarios-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.buscar-funcionarios-container {

  min-width: 800px;
  background-color: rgb(10, 45, 69);
  width: 80%;
  height: 10vh;

  margin-top: 10vh;
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 10px;
}

.buscar-funcionarios-container label {
  color: #FFF;
  font-size: 20px;
}

.buscar-funcionarios-container input {
  width: 70%;
  height: 35px;
  margin-top: 10px;
  border-width: 0px;
}

.buscar-funcionarios-container button {
  width: 10%;
  height: 35px;
  margin-top: -8px;
}

.lista-funcionarios-container{
  min-width: 800px;
  background-color: rgb(10, 45, 69);
  width: 80%;
  height: 60vh;
  margin-top: 2vh;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px;

  overflow-y: auto;
}

.usuario-container {
  background-color: chocolate;

  width: 100%;
  height: 60px;
  margin-bottom: 10px;

  border-radius: 8px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

}

.btn-usuario {
  width: 70px;
  height: 40px;
  text-align: center;
}

.btn-usuario:hover {
  font-weight: bold;
}

.btn-usuario-excluir {
  background-color: red;
}

.btn-usuario-excluir:hover {
  background-color: red;  
}

.info-usuario {
  width: 250px;
  text-align: center;
  color: #FFF;
  font-size: 16px;
}